/* body {
    background-image: url('../img/cultura-civica.jpg');
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 800px 300px;
    /* background-position: center center; 
} */